@model Veracakes.Data.Order

@{
    ViewBag.Title = "Add Order";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<input id="Text1" type="text" />
<input id="Button1" type="button" value="Submit" />