@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Veracakes</h1>
    <p class="lead">You can get a great cake made here! Order Now</p>
    <p>@Html.ActionLink("Order A Cake","Contact")</p>
</div>


<div class="row">
    <div class="row">
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/adventuretimecake.jpg" alt="Alternate Text" /></div>
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/batmancake.jpg" alt="Alternate Text" /></div>
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/chanelcake.jpg" alt="Alternate Text" /></div>
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/dadcake.jpg" alt="Alternate Text" /></div>
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/designercake.jpg" alt="Alternate Text" /></div>
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/elmocake.jpg" alt="Alternate Text" /></div>
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/ponycake.jpg" alt="Alternate Text" /></div>
        <div class="cakerowpic col-sm-1"><img src="~/Content/images/princesscake.jpg" alt="Alternate Text" /></div>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>